@model IEnumerable<Pharmacy.Web.Core.Models.MedicamentPriceHistories.MedicamentPriceHistoryViewModel>
@using GridMvc.Html

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Medicament Price History</h2>

@Html.Grid(Model).Columns(columns =>
{
    columns.Add(medicamentPriceHistory => medicamentPriceHistory.MedicamentName)
        .Titled("Medicament name");

    columns.Add(medicamentPriceHistory => medicamentPriceHistory.ModifiedDate)
        .Titled("Modified date");

    columns.Add(medicamentPriceHistory => medicamentPriceHistory.Price)
        .Titled("Price");

    columns.Add()
        .Titled("")
        .SetWidth(50)
        .Sanitized(false)
        .Encoded(false)
        .@RenderValueAs(medicamentPriceHistory=>
            @<b>
                @Ajax.ActionLink("Delete", "Delete", new { id = medicamentPriceHistory.Id },
                    new AjaxOptions() { HttpMethod = "GET" },
                    new { @class = "btn btn-danger" })
            </b>);

}).WithPaging(5)