@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="background:aquamarine">
    <p>
        Facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril
        delenit augue duis dolore te feugait dersmasser nulla facilisi. duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat autem vel eum nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent. duis auteme vel eum iriure dolor in hendrerit autem vel eum in vulputate velit esse molestie turios dolore
        consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dui
        dignissim autem vel qui blandit praesent. velit esse molestie consequat, vel illum dolore dolor
        vulputate velit esse molestie consequat, vel illum molestie consequat, vel illum.>
    </p>
</div>